@charset "UTF-8";

@font-face {
  font-family: "linea-basic-10";
  src:url("fonts/linea-basic-10.eot");
  src:url("fonts/linea-basic-10.eot?#iefix") format("embedded-opentype"),
    url("fonts/linea-basic-10.woff") format("woff"),
    url("fonts/linea-basic-10.ttf") format("truetype"),
    url("fonts/linea-basic-10.svg#linea-basic-10") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "linea-basic-10" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "linea-basic-10" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-basic-accelerator:before {
  content: "a";
}
.icon-basic-alarm:before {
  content: "b";
}
.icon-basic-anchor:before {
  content: "c";
}
.icon-basic-anticlockwise:before {
  content: "d";
}
.icon-basic-archive:before {
  content: "e";
}
.icon-basic-archive-full:before {
  content: "f";
}
.icon-basic-ban:before {
  content: "g";
}
.icon-basic-battery-charge:before {
  content: "h";
}
.icon-basic-battery-empty:before {
  content: "i";
}
.icon-basic-battery-full:before {
  content: "j";
}
.icon-basic-battery-half:before {
  content: "k";
}
.icon-basic-bolt:before {
  content: "l";
}
.icon-basic-book:before {
  content: "m";
}
.icon-basic-book-pen:before {
  content: "n";
}
.icon-basic-book-pencil:before {
  content: "o";
}
.icon-basic-bookmark:before {
  content: "p";
}
.icon-basic-calculator:before {
  content: "q";
}
.icon-basic-calendar:before {
  content: "r";
}
.icon-basic-cards-diamonds:before {
  content: "s";
}
.icon-basic-cards-hearts:before {
  content: "t";
}
.icon-basic-case:before {
  content: "u";
}
.icon-basic-chronometer:before {
  content: "v";
}
.icon-basic-clessidre:before {
  content: "w";
}
.icon-basic-clock:before {
  content: "x";
}
.icon-basic-clockwise:before {
  content: "y";
}
.icon-basic-cloud:before {
  content: "z";
}
.icon-basic-clubs:before {
  content: "A";
}
.icon-basic-compass:before {
  content: "B";
}
.icon-basic-cup:before {
  content: "C";
}
.icon-basic-diamonds:before {
  content: "D";
}
.icon-basic-display:before {
  content: "E";
}
.icon-basic-download:before {
  content: "F";
}
.icon-basic-exclamation:before {
  content: "G";
}
.icon-basic-eye:before {
  content: "H";
}
.icon-basic-eye-closed:before {
  content: "I";
}
.icon-basic-female:before {
  content: "J";
}
.icon-basic-flag1:before {
  content: "K";
}
.icon-basic-flag2:before {
  content: "L";
}
.icon-basic-floppydisk:before {
  content: "M";
}
.icon-basic-folder:before {
  content: "N";
}
.icon-basic-folder-multiple:before {
  content: "O";
}
.icon-basic-gear:before {
  content: "P";
}
.icon-basic-geolocalize-01:before {
  content: "Q";
}
.icon-basic-geolocalize-05:before {
  content: "R";
}
.icon-basic-globe:before {
  content: "S";
}
.icon-basic-gunsight:before {
  content: "T";
}
.icon-basic-hammer:before {
  content: "U";
}
.icon-basic-headset:before {
  content: "V";
}
.icon-basic-heart:before {
  content: "W";
}
.icon-basic-heart-broken:before {
  content: "X";
}
.icon-basic-helm:before {
  content: "Y";
}
.icon-basic-home:before {
  content: "Z";
}
.icon-basic-info:before {
  content: "0";
}
.icon-basic-ipod:before {
  content: "1";
}
.icon-basic-joypad:before {
  content: "2";
}
.icon-basic-key:before {
  content: "3";
}
.icon-basic-keyboard:before {
  content: "4";
}
.icon-basic-laptop:before {
  content: "5";
}
.icon-basic-life-buoy:before {
  content: "6";
}
.icon-basic-lightbulb:before {
  content: "7";
}
.icon-basic-link:before {
  content: "8";
}
.icon-basic-lock:before {
  content: "9";
}
.icon-basic-lock-open:before {
  content: "!";
}
.icon-basic-magic-mouse:before {
  content: "\"";
}
.icon-basic-magnifier:before {
  content: "#";
}
.icon-basic-magnifier-minus:before {
  content: "$";
}
.icon-basic-magnifier-plus:before {
  content: "%";
}
.icon-basic-mail:before {
  content: "&";
}
.icon-basic-mail-multiple:before {
  content: "'";
}
.icon-basic-mail-open:before {
  content: "(";
}
.icon-basic-mail-open-text:before {
  content: ")";
}
.icon-basic-male:before {
  content: "*";
}
.icon-basic-map:before {
  content: "+";
}
.icon-basic-message:before {
  content: ",";
}
.icon-basic-message-multiple:before {
  content: "-";
}
.icon-basic-message-txt:before {
  content: ".";
}
.icon-basic-mixer2:before {
  content: "/";
}
.icon-basic-mouse:before {
  content: ":";
}
.icon-basic-notebook:before {
  content: ";";
}
.icon-basic-notebook-pen:before {
  content: "<";
}
.icon-basic-notebook-pencil:before {
  content: "=";
}
.icon-basic-paperplane:before {
  content: ">";
}
.icon-basic-pencil-ruler:before {
  content: "?";
}
.icon-basic-pencil-ruler-pen:before {
  content: "@";
}
.icon-basic-photo:before {
  content: "[";
}
.icon-basic-picture:before {
  content: "]";
}
.icon-basic-picture-multiple:before {
  content: "^";
}
.icon-basic-pin1:before {
  content: "_";
}
.icon-basic-pin2:before {
  content: "`";
}
.icon-basic-postcard:before {
  content: "{";
}
.icon-basic-postcard-multiple:before {
  content: "|";
}
.icon-basic-printer:before {
  content: "}";
}
.icon-basic-question:before {
  content: "~";
}
.icon-basic-rss:before {
  content: "\\";
}
.icon-basic-server:before {
  content: "\e000";
}
.icon-basic-server2:before {
  content: "\e001";
}
.icon-basic-server-cloud:before {
  content: "\e002";
}
.icon-basic-server-download:before {
  content: "\e003";
}
.icon-basic-server-upload:before {
  content: "\e004";
}
.icon-basic-settings:before {
  content: "\e005";
}
.icon-basic-share:before {
  content: "\e006";
}
.icon-basic-sheet:before {
  content: "\e007";
}
.icon-basic-sheet-multiple:before {
  content: "\e008";
}
.icon-basic-sheet-pen:before {
  content: "\e009";
}
.icon-basic-sheet-pencil:before {
  content: "\e00a";
}
.icon-basic-sheet-txt:before {
  content: "\e00b";
}
.icon-basic-signs:before {
  content: "\e00c";
}
.icon-basic-smartphone:before {
  content: "\e00d";
}
.icon-basic-spades:before {
  content: "\e00e";
}
.icon-basic-spread:before {
  content: "\e00f";
}
.icon-basic-spread-bookmark:before {
  content: "\e010";
}
.icon-basic-spread-text:before {
  content: "\e011";
}
.icon-basic-spread-text-bookmark:before {
  content: "\e012";
}
.icon-basic-star:before {
  content: "\e013";
}
.icon-basic-tablet:before {
  content: "\e014";
}
.icon-basic-target:before {
  content: "\e015";
}
.icon-basic-todo:before {
  content: "\e016";
}
.icon-basic-todo-pen:before {
  content: "\e017";
}
.icon-basic-todo-pencil:before {
  content: "\e018";
}
.icon-basic-todo-txt:before {
  content: "\e019";
}
.icon-basic-todolist-pen:before {
  content: "\e01a";
}
.icon-basic-todolist-pencil:before {
  content: "\e01b";
}
.icon-basic-trashcan:before {
  content: "\e01c";
}
.icon-basic-trashcan-full:before {
  content: "\e01d";
}
.icon-basic-trashcan-refresh:before {
  content: "\e01e";
}
.icon-basic-trashcan-remove:before {
  content: "\e01f";
}
.icon-basic-upload:before {
  content: "\e020";
}
.icon-basic-usb:before {
  content: "\e021";
}
.icon-basic-video:before {
  content: "\e022";
}
.icon-basic-watch:before {
  content: "\e023";
}
.icon-basic-webpage:before {
  content: "\e024";
}
.icon-basic-webpage-img-txt:before {
  content: "\e025";
}
.icon-basic-webpage-multiple:before {
  content: "\e026";
}
.icon-basic-webpage-txt:before {
  content: "\e027";
}
.icon-basic-world:before {
  content: "\e028";
}

/* 
  Phone - 0 600px
  Tablet (portarait) - 600 900px
  Tablet (Landspcape - 900 1200px
  Desktop - 1200 1800px
  Big screen 1800 - cheksiz  
*/
/*
    ORDER: BASE > Typography > General Layout > GRID (FLEX) > Page Layout > Components
*/
/* 
COLORS:

LightGreen: #7ed56f
MediumGreen: #55c57a
DarkGreen: #28b485

*/
@keyframes moveInLeft {
  0% {
    transform: translate(-10rem);
    opacity: 0; }
  80% {
    transform: translate(1rem); }
  100% {
    transform: translate(0);
    opacity: 1; } }

@keyframes moveInRight {
  0% {
    transform: translate(10rem);
    opacity: 0; }
  80% {
    transform: translate(-1rem); }
  100% {
    transform: translate(0);
    opacity: 1; } }

@keyframes moveLogo {
  0% {
    transform: translate(0); }
  25% {
    transform: translate(85vw, 0) rotate(90deg) rotate3d(); }
  50% {
    transform: translate(85vw, 55vh) rotate(180deg); }
  75% {
    transform: translate(0, 80vh) rotate(270deg); }
  100% {
    transform: translate(0) rotate(360deg); } }

@keyframes moveInBottom {
  0% {
    transform: translateY(7rem);
    opacity: 0; }
  100% {
    transform: translate(0);
    opacity: 1; } }

*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }

body {
  /* font-size: 16px; */
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  padding: 3rem;
  box-sizing: border-box; }
  @media only screen and (max-width: 56.25em) {
    body {
      padding: 0;
      line-height: 1.6; } }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden; }
  .heading-primary--main {
    display: block;
    letter-spacing: 3.5rem;
    font-size: 6rem;
    font-weight: 400;
    animation-name: moveInLeft;
    animation-duration: 1.5s;
    animation-timing-function: ease-in; }
    @media only screen and (max-width: 56.25em) {
      .heading-primary--main {
        font-size: 4rem;
        letter-spacing: 2.5rem; } }
    @media only screen and (max-width: 37.5em) {
      .heading-primary--main {
        font-size: 3rem;
        letter-spacing: 1.5rem; } }
  .heading-primary--sub {
    display: block;
    letter-spacing: 1.75rem;
    font-size: 2.4rem;
    font-weight: 400;
    margin-bottom: 6rem;
    animation-name: moveInRight;
    animation-duration: 1.5s;
    animation-timing-function: ease-in; }
    @media only screen and (max-width: 56.25em) {
      .heading-primary--sub {
        font-size: 2rem;
        letter-spacing: 1.5rem; } }
    @media only screen and (max-width: 37.5em) {
      .heading-primary--sub {
        font-size: 1.6rem;
        letter-spacing: 1rem; } }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem;
  transition: all 0.2s; }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }
  @media only screen and (max-width: 56.25em) {
    .heading-tertiary {
      font-size: 1.4rem;
      margin-top: -1rem; } }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }
  @media only screen and (max-width: 56.25em) {
    .paragraph {
      font-size: 1.4rem; } }

.u-text-center {
  text-align: center; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-small {
      margin-bottom: 0.5rem !important; } }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 2rem !important; } }

.u-margin-top-big {
  margin-top: 8rem; }

.u-margin-top-huge {
  margin-bottom: 10rem; }

.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -25vh; }
  @media only screen and (max-width: 56.25em) {
    .section-about {
      padding: 15rem 0; } }

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url("../../img/nat-4.jpg");
  background-size: cover;
  transform: skewY(-7deg);
  margin-top: -10rem; }
  .section-features > * {
    transform: skewY(7deg); }
  @media only screen and (max-width: 56.25em) {
    .section-features {
      padding: 10rem 0; } }

.section-tours {
  background-color: #f7f7f7;
  padding: 25rem 0 5rem 0;
  margin-top: -10rem; }

.section-stories {
  position: relative;
  padding: 15rem 0; }

.section-book {
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
  padding: 15rem 0; }

.book {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.8) 50%, transparent 50%), url("/img/nat-10.jpg");
  height: 50rem;
  background-size: cover; }
  @media only screen and (max-width: 37.5em) {
    .book {
      margin: 0 2rem;
      height: auto; } }
  @media only screen and (max-width: 56.25em) {
    .book {
      background-image: linear-gradient(rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.8) 100%), url("/img/nat-10.jpg"); } }
  .book__form {
    width: 50%;
    padding: 4rem; }
    @media only screen and (max-width: 56.25em) {
      .book__form {
        width: 100%; } }
  .book__heading {
    margin-top: -2rem; }

.row:target .col-1-of-3 .card .card__side--back {
  animation-name: card_rotate_back;
  animation-duration: 7s;
  animation-timing-function: linear; }

.row:target .col-1-of-3 .card .card__side--front {
  animation-name: card_rotate_front;
  animation-duration: 7s;
  animation-timing-function: linear; }

@keyframes card_rotate_back {
  0% {
    transform: rotateY(0deg) scale(0.25); }
  25% {
    transform: rotate(360deg) scale(0.4); }
  50% {
    transform: rotate(720deg) scale(0.6); }
  75% {
    transform: rotate(1080deg) scale(0.8); }
  100% {
    transform: rotateY(1440deg) scale(1); } }

@keyframes card_rotate_front {
  0% {
    transform: rotateY(-180deg) scale(0.25); }
  25% {
    transform: rotate(180deg) scale(0.4); }
  50% {
    transform: rotate(540deg) scale(0.6); }
  75% {
    transform: rotate(900deg) scale(0.8); }
  100% {
    transform: rotateY(1260deg) scale(1); } }

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url("../img/hero.jpg");
  background-position: center;
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
  position: relative; }
  @media only screen and (max-width: 56.25em) {
    .header {
      clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%); } }
  @media only screen and (max-width: 37.5em) {
    .header {
      clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
      height: 35vh;
      margin-bottom: 10rem; } }
  .header__logo {
    position: absolute;
    top: 5rem;
    left: 5rem; }
    @media only screen and (max-width: 37.5em) {
      .header__logo {
        top: 2rem;
        left: 2rem;
        transform: scale(0.6); } }
  .header__logo-img {
    height: 35px; }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  @media only screen and (max-width: 56.25em) {
    .row {
      max-width: 50rem; } }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc( 2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc( 2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc( 3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
    @media only screen and (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100%;
        margin-bottom: 4rem; } }

.footer {
  background-color: #777;
  padding: 10rem 0;
  font-size: 1.4rem;
  color: #f7f7f7; }
  .footer__logo-box {
    text-align: center;
    margin-bottom: 8rem; }
  .footer__logo {
    width: 15rem;
    height: auto; }
  .footer__navigation {
    border-top: 1px solid #777;
    padding-top: 2rem;
    display: inline-block; }
    @media only screen and (max-width: 37.5em) {
      .footer__navigation {
        display: flex;
        flex-direction: column; } }
  .footer__list {
    list-style: none; }
  .footer__item {
    display: inline-block; }
    .footer__item:not(:last-child) {
      margin-right: 1.5rem; }
  .footer__link:link, .footer__link:visited {
    color: #f7f7f7;
    background-color: #777;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    transition: all 0.2s; }
  .footer__link:hover, .footer__link:active {
    color: #7ed56f;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
    transform: rotate(5deg) scale(1.3); }
  .footer__copyright {
    border-top: 1px solid #777;
    padding-top: 2rem;
    width: 80%;
    float: right; }
    @media only screen and (max-width: 56.25em) {
      .footer__copyright {
        width: 100%; } }

.navigation__checkbox {
  display: none; }

.navigation__button {
  background-color: #fff;
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  position: fixed;
  cursor: pointer;
  text-align: center;
  z-index: 300;
  box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.15);
  top: 6rem;
  right: 6rem; }
  @media only screen and (max-width: 56.25em) {
    .navigation__button {
      top: 4rem;
      right: 4rem; } }
  @media only screen and (max-width: 37.5em) {
    .navigation__button {
      height: 5rem;
      width: 5rem;
      top: 2rem;
      right: 8rem; } }

.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  background-image: radial-gradient(#7ed56f, #28b485);
  z-index: 200;
  top: 6.5rem;
  right: 6.5rem;
  transition: all 0.5s; }
  @media only screen and (max-width: 56.25em) {
    .navigation__background {
      top: 4.5rem;
      right: 4.5rem; } }
  @media only screen and (max-width: 37.5em) {
    .navigation__background {
      height: 4rem;
      width: 4rem;
      top: 2.5rem;
      right: 8.5rem; } }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(50); }

.navigation__menu {
  position: fixed;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 250;
  opacity: 0;
  width: 0;
  transition: all 0.5s;
  visibility: hidden; }

.navigation__list {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  transition: all 0.5s cubic-bezier(0.77, 0.24, 0.35, 1.47);
  width: 100%; }
  @media only screen and (max-width: 37.5em) {
    .navigation__list {
      top: 30%; } }

.navigation__item {
  margin: 1rem; }

.navigation__checkbox:checked ~ .navigation__menu {
  width: 100%;
  opacity: 1;
  visibility: visible; }

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 2.8rem;
  font-weight: 400;
  padding: 1rem 2rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(105deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 220%;
  transition: all 0.5s; }

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #7ed56f;
  transform: translateX(1rem); }

.navigation__checkbox:checked ~ .navigation__menu .navigation__list {
  left: 50%;
  opacity: 1; }

.navigation__icon {
  position: relative;
  margin-top: 3.5rem; }
  @media only screen and (max-width: 37.5em) {
    .navigation__icon {
      margin-top: 2.5rem; } }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 3rem;
    height: 2px;
    background-color: #777;
    display: inline-block; }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all 0.3s; }
  .navigation__icon::before {
    top: -0.8rem; }
  .navigation__icon::after {
    top: 0.8rem; }

.navigation__button:hover .navigation__icon::before {
  top: -1rem; }

.navigation__button:hover .navigation__icon::after {
  top: 1rem; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }
  .navigation__checkbox:checked + .navigation__button .navigation__icon::before {
    top: 0;
    transform: rotate(135deg); }
  .navigation__checkbox:checked + .navigation__button .navigation__icon::after {
    top: 0;
    transform: rotate(-135deg); }

.btn {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  position: relative;
  font-size: 1.6rem; }
  @media only screen and (max-width: 56.25em) {
    .btn {
      font-size: 1.4rem;
      padding: 1rem 3rem; } }
  @media only screen and (max-width: 37.5em) {
    .btn {
      font-size: 1.2rem;
      padding: 0.8rem 2rem; } }
  .btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:active {
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
  .btn--white {
    background-color: #fff;
    color: #777; }
  .btn--green {
    background-image: linear-gradient(to left, #7ed56f, #28b485);
    color: #fff; }
  .btn::after {
    content: "";
    height: 100%;
    width: 100%;
    display: inline-block;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s; }
  .btn--animated {
    animation-name: moveInBottom;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-delay: 0.75s;
    animation-fill-mode: backwards; }
  .btn--white::after {
    background-color: #fff; }
  .btn--green::after {
    background-color: #7ed56f; }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #7ed56f;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #7ed56f;
  padding: 3px;
  transition: all 0.2s; }

.btn-text:hover {
  background-color: #7ed56f;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  transform: translateY(0); }

.composition {
  position: relative; }
  @media only screen and (max-width: 56.25em) {
    .composition {
      padding: 2rem 0; } }
  .composition__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 1px;
    position: absolute;
    z-index: 10;
    transition: all 0.2s;
    outline-offset: 2rem; }
    @media only screen and (max-width: 56.25em) {
      .composition__photo {
        width: 33.33%;
        position: relative;
        outline-offset: 0.6rem; } }
    .composition__photo--p1 {
      top: 0;
      left: -2rem; }
      @media only screen and (max-width: 56.25em) {
        .composition__photo--p1 {
          top: 0;
          left: 0; } }
    .composition__photo--p2 {
      right: 0;
      top: 2rem; }
      @media only screen and (max-width: 56.25em) {
        .composition__photo--p2 {
          top: 0;
          left: 0;
          transform: scale(1.3) translateY(-1.7rem);
          z-index: 100; } }
    .composition__photo--p3 {
      left: 20%;
      top: 10rem; }
      @media only screen and (max-width: 56.25em) {
        .composition__photo--p3 {
          top: 0;
          left: 0; } }
    .composition__photo:hover {
      outline: 1.5rem solid #7ed56f;
      transform: scale(1.5) translateY(-1rem) rotate(10deg);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
      z-index: 20; }
      @media only screen and (max-width: 56.25em) {
        .composition__photo:hover {
          outline: 0.5rem solid #7ed56f;
          transform: scale(1.3) translateY(-1rem);
          z-index: 200; } }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.9); }

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: all 0.3s; }
  @media only screen and (max-width: 56.25em) {
    .feature-box {
      margin: 0 2rem; } }
  .feature-box__icon {
    font-size: 6rem;
    margin-bottom: 0.5rem;
    background-image: linear-gradient(to right, #7ed56f, #28b485);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; }
  .feature-box:hover {
    transform: translateY(-1.5rem) scale(1.04); }

.card {
  perspective: 200rem;
  -moz-perspective: 200rem;
  position: relative;
  height: 50rem; }
  .card__side {
    background-color: #fff;
    height: 50rem;
    width: 100%;
    color: white;
    transition: all 1s ease;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.4); }
    .card__side--back {
      transform: rotateX(180deg) rotateZ(90deg); }
      .card__side--back--1 {
        background-image: linear-gradient(to right bottom, #ffb900, #ff7730); }
      .card__side--back--2 {
        background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }
      .card__side--back--3 {
        background-image: linear-gradient(to right bottom, #2998ff, #5643fa); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateX(0) rotateZ(0); }
  .card__photo {
    width: 100%;
    height: 45%;
    background-position: center;
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    background-blend-mode: screen; }
    .card__photo--1 {
      background-image: linear-gradient(to right, #ffb900, #ff7730), url("/img/nat-5.jpg"); }
    .card__photo--2 {
      background-image: linear-gradient(to right, #7ed56f, #28b485), url("/img/nat-7.jpg"); }
    .card__photo--3 {
      background-image: linear-gradient(to right, #2998ff, #5643fa), url("/img/nat-6.jpg"); }
  .card__heading {
    font-size: 2.6rem;
    color: white;
    font-weight: 300;
    padding: 1rem;
    position: absolute;
    text-transform: uppercase;
    top: 8rem;
    right: 2rem;
    width: 50%;
    display: inline-block;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
    text-align: right; }
    .card__heading--1 {
      background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.8), rgba(255, 119, 48, 0.8)); }
    .card__heading--2 {
      background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)); }
    .card__heading--3 {
      background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.8), rgba(86, 67, 250, 0.8)); }
  .card__description {
    color: #000;
    font-size: 1.6rem; }
    .card__description ul {
      list-style: none;
      width: 80%;
      margin: 0 auto;
      padding: 0; }
      .card__description ul li {
        text-align: center;
        padding: 1rem; }
        .card__description ul li:not(:last-child) {
          border-bottom: 1px solid #eee; }
  .card__info {
    text-align: center;
    font-size: 2rem;
    color: #fff;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .card__price-box {
    text-align: center;
    color: #fff;
    margin-bottom: 8rem; }
  .card__price-box--only {
    font-size: 2.4rem;
    text-transform: uppercase; }
  .card__price-box-value {
    font-size: 6rem;
    font-weight: 600; }

@media only screen and (max-width: 56.25em) {
  .card {
    margin: 0 2rem;
    position: relative;
    height: auto;
    background-color: #fff;
    box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.4); }
    .card__side {
      height: 40rem;
      position: relative;
      overflow: hidden;
      box-shadow: none; }
      .card__side--back {
        animation: none;
        transform: rotateX(0);
        clip-path: polygon(0% 15%, 100% 0%, 100% 100%, 0 100%); }
    .card:hover .card__side--front {
      transform: rotateY(0); }
    .card__info {
      text-align: center;
      font-size: 2rem;
      color: #fff;
      width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
    .card__price-box {
      text-align: center;
      color: #fff;
      margin-bottom: 6rem; }
    .card__price-box--only {
      font-size: 2rem;
      text-transform: uppercase; }
    .card__price-box-value {
      font-size: 4rem;
      font-weight: 600; } }

.story {
  max-width: 75%;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.4);
  border-radius: 3px;
  padding: 6rem;
  font-size: 1.6rem;
  transform: skewX(-12deg); }
  @media only screen and (max-width: 56.25em) {
    .story {
      margin: 0 2rem;
      transform: skewX(0deg); } }
  .story > * {
    transform: skewX(12deg); }
    @media only screen and (max-width: 56.25em) {
      .story > * {
        transform: skewX(0deg); } }
  .story__img {
    width: 15rem;
    height: 15rem;
    clip-path: circle(50% at 50% 50%);
    float: left;
    shape-outside: circle(50% at 50% 50%);
    -webkit-shape-outside: circle(50% at 50% 50%);
    transform: translateX(-2rem) skewX(12deg);
    position: relative;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden; }
    @media only screen and (max-width: 56.25em) {
      .story__img {
        width: 12.5rem;
        height: 12.5rem;
        transform: translateX(-2rem) skew(0); } }
    .story__img--box {
      height: 100%;
      transform: scale(1.4) translateX(-2rem);
      transition: all 1s; }
    .story__img--caption {
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #fff;
      font-size: 1.7rem;
      text-transform: uppercase;
      text-align: center;
      font-weight: 700;
      opacity: 0;
      transition: all 1s;
      display: inline-block; }
  .story:hover .story__img--caption {
    top: 50%;
    opacity: 1; }
  .story:hover .story__img--box {
    transform: scale(1) translateX(-3rem);
    filter: blur(3px) brightness(80%); }
  .story:not(:last-child) {
    margin-bottom: 10rem; }

.story__video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -3;
  opacity: 0.15;
  overflow: hidden; }
  .story__video--content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.form__group:not(:last-child) {
  margin-bottom: 2rem; }

.form__input {
  font-size: 1.6rem;
  padding: 1.5rem 2rem;
  width: 70%;
  background-color: #fff;
  border-radius: 2px;
  border: none;
  display: block;
  border-bottom: 3px solid transparent;
  transition: all 0.4s; }
  .form__input:focus {
    border-bottom: 3px solid #55f516;
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4); }
  .form__input:focus:invalid {
    border-bottom: 3px solid #ff7730; }
    .form__input:focus:invalid::placeholder {
      color: red;
      font-size: 1.6rem; }

.form__group {
  position: relative; }

.form__label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: 0.7rem;
  display: block;
  opacity: 0;
  position: absolute;
  top: -0.5rem;
  transition: all 0.5s; }

.form__group:not(:last-child) {
  margin-bottom: 4rem; }

.form__input:not(:placeholder-shown) + .form__label {
  top: 6rem;
  opacity: 1;
  font-size: 1.4rem;
  z-index: 100; }

.form__radio-group {
  display: inline-block; }
  @media only screen and (max-width: 37.5em) {
    .form__radio-group {
      display: block; }
      .form__radio-group:not(:last-child) {
        margin-bottom: 2rem; } }

.form__label-radio {
  font-size: 1.8rem; }

.form__radio-group .form-radio {
  display: none; }

.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden; }
  .popup__content {
    width: 75%;
    display: flex;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    transition: all 1s cubic-bezier(0.63, 0.1, 0.2, 1.91);
    transform: scale(0.25) translate(-100%, -100%);
    transition-delay: 0.2s; }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup:target .popup__content {
    opacity: 1;
    visibility: visible;
    transform: scale(1) translate(0, 0); }
  .popup__left {
    width: 33.333%; }
  .popup__right {
    width: 66.666%;
    margin-left: 1rem; }
    .popup__right .heading-secondary {
      margin-bottom: 0 !important; }
  .popup__img {
    display: block;
    width: 100%; }
  .popup__text__box {
    display: flex;
    justify-content: center;
    align-items: center; }
  .popup__text:first-child {
    margin-right: 1rem; }
